.row-layout {
	display: flex;
	flex-direction: row;
}

.fill {
	height: 100%;
	width: 100%;
}

.fillHeight {
	height: 100%;
}

.space-between {
	justify-content: space-between;
	align-items: center;
}

.horizontal-padding {
	padding: 0 1.25rem;
}

.horizontal-margin {
	margin: 0 1.25rem;
}
