.gradient-background {
  /* background: linear-gradient(to bottom, #161616 0%, rgba(10, 10, 10, 0.1) 100%); */
  background: linear-gradient(180deg, #161616 0%, rgba(10, 10, 10, 0.01) 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(32px);
  width: 100%;
  height: 100%;
}
.noise-background {
  position: absolute;
  background: url('/images/noise.png') repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
